*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
}

nav{
    display:flex;
    flex-direction: row;
    align-items: center;
    /* left: 20%; */
}

.logo{
    margin-left:40px;
}

.navigation{
    display:flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 20px;
    gap: 20px;
    flex:1;
    justify-content: center;
}

.navigation li{
    padding: 2px 2px;
}

.navigation li:hover{
    color:rgb(0, 132, 255);
    cursor: pointer;
}

.register-button, .hero-register-button{
    background-color: #1D4ED8;
    border: none;
    color: white;
    height:40px;
    width: 160px;
    font-weight: 700;
    border-radius: 10px;
}
.register-button{
    margin-right: 40px;
}
.hero{
    position: relative;
}
.hero-info{
    color: white;
    position: absolute;
    /* top:30%;
    left: 50%;
    transform: translate(-50%, -50%); */
    inset:0;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    transform: translateY(-12%);
}

.hero-image{
    height: 100vh;
    width: 100%;
    padding:0%;
    margin:0%;
    min-height: 600px;
    border: none;
    object-fit: cover;
    display:block;
}

.hero-info h1{
    font-family: 'Arimo', sans-serif;
    font-size: 60px;
    font-weight: 700;
    margin-bottom:15px;
    margin-block-end:0%;
}

.hero-info p{
    font-family: 'Arimo', sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding:0%;
    margin-bottom:35px;
    /* margin-block-end:0%; */
    border: none;
}



.hero-register-button{
    height: 50px;
    width: 180px;
    font-size: 16px;
    /* transform: translateY(90%); */
    /* margin-top: 420px; */
}

.speakers-section h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    padding:20px;
    align-items: center;
    text-align: center;
    justify-self: center;
    margin-bottom: 20px;
}


.speakers-section {
    font-family: 'Arimo' sans-serif;
    padding: 60px 20px;
    max-width: 1200px;
    margin: 0 auto;
}



.speaker-card{
    background-color: white;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    overflow:hidden;
    display: flex;
    flex-direction: column;
}

.speaker-card img {
  width: 100%;
  object-fit: cover;
}

.speakers-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px; 
}

.card-content{
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.field{
    font-size: .75rem;
    color:#0f49e7;
    font-weight: 700;
}

.name{
    font-size: 1.35rem;
    font-weight: 900;
}
.job-title{
    color: grey;
}

.price h1{
    font-family: 'Arimo', sans-serif;
    font-weight: 900;
    display:flex;
    flex-direction: center;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 8px;
}
.offer{
    font-family: 'Arimo', sans-serif;
    font-size: .75rem;
    display: flex;
    justify-content: center;
    color: grey;
    margin-bottom: 30px;
}

.price-card{
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap:20px;
}

.normal{
    background-color: white;
    border:1px solid #0f49e7;
    padding:30px;
    border-radius: 16px;
}
.price-info{
    padding: 10px 10px 20px;
}

.underline{
    color:grey;
    padding:8px;
}

.facility{
    padding: 30px;
}

ul li::marker {
  color: blue;
}

li{
    padding:8px;
}

.button-wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.normal-button{
    background-color: white;
    color:#0f49e7;
    border: 2px solid #0f49e7;
    border-radius: 10px;
    height: 50px;
    width:90%;
    font-weight:700;
    font-size:1.05rem;
}
.plan{
    text-transform: uppercase;
    padding:8px;
    color:grey;
}

.cost{
    font-size: 2.5rem;
    font-weight: 800;
}
.per-person{
    color:grey;
    font-size:.8rem;
}

.special{
    background-color: black;
    color:white;
    border:1px solid #0f49e7;
    padding:30px;
    border-radius: 16px;
}